* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;

}

.square-div {
    color: rebeccapurple;
    border: 1px solid black;
}

.changeColor {
    background-color: black;
}

.input-grid-btn {
    order: -1;
}